div{
    .profile_information{
        display: flex;
        align-items: center;
        gap: 10px;

            .profile_photo{
                width: 100px;
                height: 100px;
                margin-left: auto;
            }
    }
    .follow_count{
        display: flex;
        align-items: center;
        align-content: right;
        align-self: flex-end;
        gap: 10px;
        
        .follow_numbers{
            margin-left: auto;
        }
    }
    .summary{
        text-align: right;
    }
    .post{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        .post_image{
            width: 250px;
            height: 250px;
        }
    }
}